*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Milonga', cursive;
}

section{
    background: linear-gradient(180deg, rgba(250, 254, 1, 0.426),
     rgba(4, 255, 255, 0.348));
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container{
    width: 90%;
    max-width: 400px;
    background: rgba(255,251,251,0.54);
    border-radius: 10px;
}

.displays{
    background: #000;
    height: 100px;
    width: 100%;
    text-align: right;
    color: #fff;
    padding: 1.2rem;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;

}

.display-1{
    font-size: 20px;
    color: grey
    
}

.temp-result{
    text-align: left;
    color: lightgray;
    font-size: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button{
    border: 0.5px solid rgba(91, 92, 92, 0.14);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s ease;
}

.button:hover{
    background: rgba(113,138,144);
    transition: 0.5s ease;
}

.btn-0{
    border-bottom-left-radius: 10px;
}

.equal{
    grid-column: span 2;
    border-bottom-right-radius: 10px;
}

